# Temporary
data/*

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
*.egg-info/
*.egg
MANIFEST

# pyenv
.python-version

# Environments
.venv

# mypy
.mypy_cache/